<table>
    <tr>
      <td>
        <%= f.label :Section %>
      </td>
      <td>
        <%= f.text_field :section_id %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :Nome %>
      </td>
      <td>
        <%= f.text_field :nome %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :Senha %>
      </td>
      <td>
        <%= f.text_field :senha %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :Email %>
      </td>
      <td>
        <%= f.text_field :email %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :Telefone %>
      </td>
      <td>
        <%= f.text_field :telefone %>
      </td>
    </tr>
  </table>

