<table>
  <tr>
    <td>
      <%= f.label :nome %>
    </td>
    <td>
      <%= f.text_field :nome %>
    </td>
  </tr>
  <tr>
    <td>
     <%= f.label :section %>
    </td>
    <td>
     <%= f.text_field :section_id%>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :category %>
    </td>
    <td>
      <%= f.text_field :category_id %>
    </td>
  </tr>
</table>

