<h1>Listing problems</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Category</th>
    <th>Section</th>
  </tr>

<% @problems.each do |problem| %>
  <tr>
    <td><%=h problem.nome %></td>
    <td><%=h problem.category_id %></td>
    <td><%=h problem.section_id %></td>
    <td><%= link_to 'Show', problem %></td>
    <td><%= link_to 'Edit', edit_problem_path(problem) %></td>
    <td><%= link_to 'Destroy', problem, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New problem', new_problem_path %>

