  <table>
    <tr>
      <td>
        <%= f.label :ticket %>
      </td>
      <td>
        <%= f.text_field :ticket_id %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :Status %>
      </td>
      <td>
        <%= f.text_field :statu_id %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :data %>
      </td>
      <td>
        <%= f.text_field :data %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :hora %>
      </td>
      <td>
        <%= f.text_field :hora %>
      </td>
    </tr>
  </table>

