<table>
    <tr>
      <td>
        <%= f.label :Nome %>
      </td>
      <td>
        <%= f.text_field :nome %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :Ramal %>
      </td>
      <td>
        <%= f.text_field :ramal %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :Bloco %>
      </td>
      <td>
        <%= f.text_field :bloco %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :Andar %>
      </td>
      <td>
        <%= f.text_field :andar %>
      </td>
    </tr>
  </table>

