<table>
    <tr>
      <td>
        <%= f.label :Nome %>
      </td>
      <td>
        <%= f.text_field :nome %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :Patrimonio %>
      </td>
      <td>
        <%= f.text_field :patrimonio %>
      </td>

      <td>
        <%= f.label :Sala %>
      </td>
      <td>
        <%= f.text_field :sala %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :Descricao %>
      </td>
      <td>
        <%= f.text_field :descricao %>
      </td>

      <td>
        <%= f.label :Problema %>
      </td>
      <td>
        <%= f.text_field :problem_id %>
      </td>
     </tr>
      <td>
        <%= f.label :Ticket %>
      </td>
      <td>
         <%= f.text_field :ticket_id %>
      </td>
    </tr>
  </table>

